.login-container {
    display: flex;
    min-height: 100vh;
    background-color: #f5f7fa;
}

.login-form {
    flex: 1;
    padding: 50px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.login-form p {
    margin-bottom: 20px;
    color: #666;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.input-container {
    width: 80%; /* Adjust this to control the width */
    max-width: 400px; /* Optional: set a max width */
    margin: 0 auto; /* Center the inputs */
}

.input-container input {
    width: 100%; /* Make input take full container width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-options {
    width: 80%;
    max-width: 400px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #666;
}

/* Styling for the main Sign In button */
.sign-in-button {
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    background-color: #6c5ce7;
    color: #fff;
    padding: 12px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Styling for the Google Login button */
.google-login-button {
    width: 80%;
    max-width: 400px;
    margin: 20px auto 0 auto;
    background-color: #fff;
    color: #6c5ce7;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #6c5ce7;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OR separator styling */
.or-separator {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    font-size: 14px;
    color: #888;
}

.or-separator::before,
.or-separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
    margin: 0 10px;
}

/* Styling for Sign Up link */
.signup-link {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9em;
    color: #6c5ce7;
    text-decoration: none;
}

.login-image {
    width: 55%; /* Set a fixed percentage or pixel width */
    height: 100vh; /* Set the desired height */
    background-size: cover;
    background-position: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

    

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-image {
        height: 250px;
        border-radius: 15px 15px 0 0;
    }

    .login-form {
        border-radius: 0 0 15px 15px;
    }
}
